@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

.perdido{
    font-family: 'New Rocker', cursive;
    font-size: 70px;
}
.nirvana{
    margin-top: 30px;
    width: 600px;
}

.cuatro{
    font-family: 'New Rocker', cursive;
    font-size: 40px;
}